.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.hero h2 img {
  display: inline-block;
  vertical-align: text-bottom;
}

.hero > * {
  margin-top: 2em;
}

.hero > div:first-child {
  max-width: 380px;
}

.hero > div + div > img {
  display: block;
  width: 100%;
  max-width: 520px;
}

.hero button,
.hero a.button {
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 17px;
}
