.logos {
  display: flex;
}

.logos > *:first-child {
  max-width: 300px;
  font-size: 19px;
}

.logos h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.logos > *:last-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logos > *:last-child > * {
  margin-left: 1em;
  margin-bottom: 1em;
}
